#waiting{	
	position:fixed;
	top:40%;
	left:50%;
	margin:0 0 0 -25px;
	z-index:9999999;
}

@media screen and (max-width: 765px) {
	.smallWidthCardFormat > table,	
	.smallWidthCardFormat > tbody > tr > td,
	.smallWidthCardFormat > tbody > tr > th,
	.smallWidthCardFormat > tfoot > tr > td,
	.smallWidthCardFormat > tfoot > tr > th,
	.smallWidthCardFormat > thead > tr > td,
	.smallWidthCardFormat > thead > tr > th {
	    border: none  !important;
	    border-collapse: collapse !important;
	}	
	.smallWidthCardFormat tr{
		margin-bottom: 20px  !important;
		display: block  !important;
		/*box-shadow: 2px 2px 1px #dadada;  !important;*/
	}
	.smallWidthCardFormat thead {
		display: none;
	}
	.smallWidthCardFormat td{
		display: block  !important;
		font-size: 13px !important;
		text-align:left;
		padding: 2px 2px;
		border: 1px solid #ddd !important;
	}
	
	.smallWidthCardFormat tbody td::before{
		content: attr(data-label) ": ";
		font-weight: bold;
	}
	
}

span.grid-sort{
	margin-left:5px;
}

tr.for_select{
	cursor:pointer;
}
th.sortable{
	cursor:pointer;
}
th[disabled="disabled"]{
	cursor:not-allowed;
}
tfoot{
	font-weight:bolder;
	font-size:120%;
}

tr.grid_foot{
	font-size:bigger;
	font-weight:bolder;
}

.pagination-pages{
	margin-left:15px;;
}
.pagination-page{
	cursor:pointer;
	margin:5px 5px;
}

.pagination-page-cur{
	font-size:110%;
	cursor:default;
}

.flashit{
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* Pulse class and keyframe animation */
.pulseit{
	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
}
@-webkit-keyframes pulse {
	0% { width:200px; } 
	50% { width:240px; } 
	100% { width:200px; }
}
@keyframes pulse {
	0% { width:200px; } 
	50% { width:240px; } 
	100% { width:200px; }
}

.null-ref{
	color:red;
	font-weight:bolder;
}

.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.forSelect:hover{
	text-decoration:underline;
}

/* menu constructor */
.menuConstructor li {
	padding: 8px 8px;
	line-height: 1.2;
	cursor:grab;
	width:100%;
}
.menuConstructor li.active{
	background-color:#d9edf7;
	border:1px solid black;
}

.menuConstructor span[fieldid=viewDescr]{
	margin-left: 20px;
}

#MainMenuConstructor\:content\:edit-view{
	padding:10px 10px;
	font-size:120%;
	border:1px solid black;
}

.acCurrent{
	background:#E8F5E9;
}

/* view construct animation */
.viewFadeOnConstruct {
    -webkit-animation: fadeIn 500ms ease-in-out;
    animation: fadeIn 500ms ease-in-out;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

/* Drag-n-Drop*/
.uponMe{
	border:1px solid black;
}

.dragging{
	border:1px solid black;
	cursor:grabbing;
}
.draggble {
	cursor:pointer;
}

.breadcrumb{
	font-size:150%;
}
.breadcrumb-item:hover{
	text-decoration:underline;
	cursor:pointer;
}

.btn-cmd{
	margin-right:1px;
}

.windowMessageOverlap{
	position:fixed;
	top:0px;
	left:80%;
	opacity:0.9;
	filter: alpha(opacity=90);
	z-index:9999999;
	width:20%;
	overflow-y: scroll;
	height:100%;
}

.windowMessageOverlap:hover{
	opacity:1;
	filter: alpha(opacity=100);
}

.windowMessageMobile{
	position:fixed;
	top:0px;
	left:0%;
	opacity:0.9;
	filter: alpha(opacity=90);
	z-index:9999999;
	width:100%;
	overflow-y: scroll;
	overflow-x: scroll;
	height:20%;
}

.windowMessageMobile:hover{
	opacity:1;
	filter: alpha(opacity=100);
}

.error{
	background:#fc7462;
}
.detailToggle{
	cursor:pointer;
}
.periodLabel{
	cursor:pointer;
	font-size:120%;
	font-weight:bold;
}

.grid_details{
	/*
	position:relative;
	left:2%;
	width:98%  !important;
	display:block;
	*/
}

/** CUSTOM */
.dialogForm{
	min-height: 450px;
}

.smeta {
	background-color: #ffffbe;
	cursor:pointer;
}
.smeta_overlimit{
	background-color: #ff6969 !important;
}

.smeta_supplied_all{
	background:  #cfcfcf;
	color: transparent;
	text-shadow: 0 0 0px rgba(0,0,0,0.1);
}

.smeta_ordered_all{
	background:  #e6e6e6 !important;
	color: transparent !important;
	text-shadow: 0 0 0px rgba(0,0,0,0.5) !important;
}

.smeta_level_0 {
	font-size:150%;
	font-weight:bolder;
}
.smeta_level_1 {
	font-size:110%;
	font-weight:bolder;
}
.supply_order_half_payed {
	background-color: #ffffbe !important;
}
.supply_order_overdue {
	background-color: #ff6969 !important;
}
.supply_order_payed {
	background-color: #c8ffd7 !important;
}

.work_check_closed_overdue {
	background-color: #fa6b6b !important;
}
.work_check_not_closed_overdue {
	background-color: #d8db84 !important;
}

.work_check_closed {
	background-color: #32a852 !important;
}
.sched_item_close_trans {
	background-color: #fa6b6b !important;
}

#logo-img{
	width:245px;
	height:214px;
	padding: 0px 0px;
	margin: 0px 0px;
}
#logo-img2{
	width:245px;
	height:76px;
	padding: 0px 0px;
	margin: 0px 0px;
}

#main-logo-img{
	width:132px;
	height:42px;
	padding: 0px 0px;
	margin: 0px 0px;
}
.container-nopadding{
	padding-top: 0px !important;
}
.login-form{
	width: 320px !important;
}
.join_contract_text{
	font-size:70%;
}
.join_contract{
	font-size:80%;
	margin: 5px 5px;
	padding: 4px;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
	text-indent: 5em;
}
.navigation > li ul {
	background-color: white; /*rgba(0,0,0,.15);*/
	/*-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.05);
	box-shadow: 0 1px 0 rgba(255,255,255,.05);*/
}

span.stressed-text{
	font-weight:bolder;
}
.navbar-pronails{
	background-color: white; /*#f2dcdb*/
	border-color: white;	
}
.sidebar{
	background-color: #f5f5f5 !important;
	color: #333333 !important;
}
.navigation li a {
	color: #333333 !important;
}
.navigation > li.active > a, .navigation > li.active > a:focus, .navigation > li.active > a:hover {
	background-color: #F06292 !important;
	color: #fff !important;
}
.navigation > li > ul li.active > a, .navigation > li > ul li.active > a:focus, .navigation > li > ul li.active > a:hover {
	background-color: #f2dcdb !important;
}

a:not(.btn) {
  color: #F06292 !important;
}

/*bg-pink-300 #F06292*/
.bg-pink-200 {
	background-color: #f2dcdb;
	border-color: #f2dcdb;
	color: #fff;
}

.pay_inf_sum{
	font-size:110%;
	font-weight:bolder;	
}

.mat_cons_balance_trans{
	background-color: red !important;	
}

.signCont {
	border: 2px dotted #CCCCCC;
	border-radius: 15px;
	cursor: crosshair;	
}

.reg_field_confirmed{
	background-color: green !important;	
}
.reg_field_sent{
	background-color: yellow !important;	
}
.reg_field_error{
	background-color: red !important;	
}

.admin_rate{
	border:1px solid black;
	padding: 3px 3px;
	margin-right: 5px;
}
.admin_rate:hover{
	border:2px solid black;
	cursor:pointer;
}	

.rate-img-cont{
	/*height: 250px;*/
	text-align:center;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #dbe4ed; /* Border color is optional */	
}

