*~
proj-deploy.php
Config.php
Config.uniq.php
page.xml
nails.json
build/build.log
output
/permissions/permissions_sql.tmpl
/build/Config.php
/build/sql/logins_list.sql
/build/sql/session_vals_process.sql
/build/sql/user_mac_addresses_process.sql
/build/sql/session_vals_trigger.sql
/build/sql/rg_calc_period_end.sql
/build/sql/doc_log_delete.sql
/build/sql/session_vals.sql
/build/sql/doc_log_update.sql
/build/sql/users_dialog.sql
/build/sql/views_section_list.sql
/build/sql/main_menus_dialog.sql
/build/sql/rg_calc_period_start.sql
/build/sql/users_login.sql
/build/sql/rg_calc_period.sql
/build/sql/doc_log.sql
/build/sql/user_mac_addresses_list.sql
/build/sql/views_list.sql
/build/sql/doc_log_insert.sql
/build/sql/rg_current_balance_time.sql
/build/sql/user_mac_addresses_trigger.sql
/build/sql/rg_period_balance.sql
/build/sql/main_menus_list.sql
/build/sql/last_month_day.sql
/build/sql/login_devices_list.sql
/build/templates/permissions/permission_go.tmpl
/build/templates/permissions/permission_php.tmpl
/build/templates/permissions/permission_php.xsl
/build/templates/enumGridColumn.js.tmpl
/build/templates/constant.go.tmpl
/build/templates/enum.js.tmpl
/build/templates/helpers/reg
/build/templates/helpers/cat
/build/templates/version.go.tmpl
/build/templates/db/SQLFunctions.PGSQL.xsl
/build/templates/db/SQL.PGSQL.xsl
/build/templates/db/activityLog.xsl
/build/templates/md.go.tmpl
/build/templates/js/custom_controls/App.predefinedItems_js.xsl
/build/templates/js/custom_controls/App.enums_js.xsl
/build/templates/js/custom_controls/Edit.tmpl
/build/templates/js/forms/FormList.tmpl
/build/templates/js/forms/Form.tmpl
/build/templates/js/controls
/build/templates/js/views/Dialog_View.tmpl
/build/templates/js/views/List.tmpl
/build/templates/js/enum_controls/Enum_js.xsl
/build/templates/js/enum_controls/EnumGridColumn_js.xsl
/build/templates/js/core
/build/templates/js/ext
/build/templates/js/doc/DOCJs20_json.xsl
/build/templates/controllers/Controller_test.go.tmpl
/build/templates/controllers/FileStorageSmall_Controller_js.xsl
/build/templates/controllers/FileStoreSmall_Controller_js.xsl
/build/templates/controllers/ClientSearch_Controller_js.xsl
/build/templates/controllers/ProjectManager_Controller_js.xsl
/build/templates/controllers/ControllerImp.go.tmpl
/build/templates/controllers/Controller_js.tmpl
/build/templates/controllers/Controller_js20.xsl
/build/templates/controllers/Constant_Controller_js20.xsl
/build/templates/controllers/Enum_Controller_js.xsl
/build/templates/controllers/Constant_Controller_js.xsl
/build/templates/controllers/Controller.go.tmpl
/build/templates/controllers/Controller_js.xsl
/build/templates/controllers/SessionVar_Controller_js20.xsl
/build/templates/functions/old_role_permissions.xsl
/build/templates/view.sql.tmpl
/build/templates/tmpl/html.xsl
/build/templates/tmpl/About_html.xsl
/build/templates/tmpl/html.tmpl
/build/templates/tmpl/MainMenuConstructorList_html.xsl
/build/templates/doc/Doc_html.xsl
/build/templates/scripts.go.tmpl
/build/templates/enum.go.tmpl
/build/templates/App.enums.js.tmpl
/build/templates/models/PM_Model.go.tmpl
/build/templates/models/MainMenuContent_Model_js.xsl
/build/templates/models/Model.go.tmpl
/build/templates/models/PM_complete_Model.go.tmpl
/build/templates/models/Model_js.xsl
/build/templates/models/Model_js.tmpl
/build/metadata.dtd
/build/old
